
/******************* Styling the Body ***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100%;
    background-color: #fffff0;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
}
h1{
    font-family: "roboto";
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #adcc00;
    text-shadow: #fffff0 1px 1px 0;
    height: 10%;
    padding: 1%; /* esto es para centrar un poco el contenido del h1*/
}
h2{
    font-family: "lora";
    font-size: 1.6em;
    color: #262932;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}
h3{
    font-size: 1.2em;
}
p {
    text-align: justify;
    font-size: 1.4em;
    color: #fffff0;
    padding: 20px;
    font-family: "lora";
}
section.wrap{
    width: 100vw;
    min-height: 100%;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
}
section#bigwrap header ul{
    text-align: end;
    position: absolute;
    display: none;
    top: 5px;
    right: 0;
    padding-right: 5vw;
    z-index: 100;
}
section#bigwrap header ul li{
    display: inline-block;
    padding: 5px;
}
section#bigwrap header ul li a{
    color: snow;
    text-decoration: none;
}
section#bigwrap header ul li img{
    width: 40px;
}
div#colors{
    position: absolute;
    width: 105px;
    height: 50px;
    top: 5px;
    left: 20px;
}
div#colors > div{
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 5px;
    border: 1px solid #fffff0;
    border-radius: 50px;
    cursor: pointer;
}
div#colors div:first-child{
    background-color: rgb(0, 200, 0);
}
div#colors div:nth-child(2){
    background-color: rgb(200, 0, 0);
}
div#colors div:nth-child(3){
    background-color: rgb(38, 41, 50);
}
div#colors div:nth-child(4){
    background-color: rgb(0, 0, 200);
}
/*************************** BIG WRAP ******************************/
section#bigwrap{
    background-image: url("../img/bg/builweb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div#main, div#slideshow{
    width: 80%;
    height: 60vh;
    margin: 5vh 10%;
    z-index: 101;
    position: relative;
    }
    div#slideshow{
    background-color: rgba(38, 41, 50, 0.5);
    }
div#main div:first-child{
    width: 100%;
    height: 80%;
    /*border-radius: 50%;*/
    border-radius: 50%; 
    background-color: rgba(38, 41, 50, 0.5);
    text-align: center;
}
div#main div:first-child img{
    width: 50%;
    padding-top: 20%;
}
div#main div:last-child{
    position: absolute;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
    bottom: 30px;
    left: 30px;
}
/*************************** Study section **************************/
section#cv{
    background-color: #fffff0;
}
div.cvstudychild{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border: 1px solid graytext;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    height: 50vh;
    font-weight: bold;
    opacity: 1;
}
div.cvstudychild:hover{
    box-shadow: gray 3px 3px 3px;
}
div.cvstudychild img{
    max-width: 100%;
    height: 30%;
}
div.cvstudychild span{
    color: graytext;
    text-shadow: 1px 1px 1px #fffff0;
    font-size: 18px;
}
div.cvstudychild ul li{
    list-style-type: none;
    padding: 3px;
}
div.cvstudychild:last-child{
    margin-bottom: 5%;
}
div.cvstudychild#cv h1{
    height: 20%;
}
/***** SKILLS SECTION *****/
section#skills{
    background-image: url(../img/bg/skills_bg.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}
section#skills > div{
    position: relative;
    width: 100%;;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
}
section#skills div img{
    width: 80%;
    height: 90%;
}
section#skills div#road img{
    width: 100%;
}
section#skills div hr{
    width: 90%;
    margin: 0 auto;
}
section#skills > div #dowcv{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: black;
    background-color: #fea314;
    padding: 7px;
    border: 2px solid #adcc00;
    border-radius: 15px;
    font-weight: bold;
    font-family: "roboto", tahoma;
    text-decoration: none;
}
/******************** MY WORK section ********************/
section#mywork{
    background-color: #fffff0;
}
div.myworkchild{
    width: 100%;
    height: 100vh;
}
div.myworkchild > div{
    height: 30%;
    border: 5px solid #fffff0;
}
section#mywork h1{
    background-color: #fffff0;
    text-shadow: black 1px 1px 1px;
}
div.myworkchild h2{
    height: 10vh;
    text-align: center;
    padding: 10px;
    color: #fea314;
}
.proiectos figcaption{
    font-size: 1.2em;
    padding-top: 40px;
}
#btn{
    padding-top: 10%;
}
button {
  position: relative;
  width: 120px;
  margin-left: 50%;
  left: -60px;
  text-align: center;
  display: inline-block;
  padding: 13px 15px;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: #999 1px 1px 0;
  outline: none;
  color: #adcc00;   
  background-color: #fea314;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #fea314;}
.button:active {
  background-color: #adcc00;
  text-shadow: #666 2px 2px 1px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
div.jsproj{
    text-align: center;
}
div.jsproj img{
    width: 80%;
}
/*** CSS3 Animations ***/
div.content{
    position: relative;
    margin: auto;
    width: 150px;
    height: 150px;
    border: 1px !important;
    background: url("../img/skills/mapa.png");
    background-size: cover;
    border-radius: 50%;
    -moz-animation: rotacion 10s  infinite linear;
    -webkit-animation: rotacion 10s infinite linear;
    animation-play-state: paused;
    box-shadow: 0 5px 15px #888;
}
div.content:hover{
    animation-play-state: paused;
}
div.content img{
    width: 100%;
    height: 100%;
}
@-moz-keyframes rotacion{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -149px 0px;
    }
}
@-webkit-keyframes rotacion{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -149px 0px;
    }
}
/* 3d */
.box3d{
    display: inline-block;
    position: relative;
    padding-left: 50%;
    transition-duration: 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: left center;
}
.box3d > div{
    border: 2px solid black;
    position: absolute;
    margin: 10px auto;
    left: 100px;
    width: 200px;
    height: 160px;
    overflow: hidden;
    padding: 5px;
    text-align: justify;
}
.front{
    background: green;
}
.back{
    background: red;
    -moz-transform: translateZ(-100px) rotateY(90deg);
    -webkit-transform: translateZ(-100px) rotateY(90deg);
    left: 100px;
}
.box3d:hover{
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-perspective: 800px; /* Chrome, Safari, Opera */
    perspective: 800px;
}
/*jsproject*/
div#dni{
    background-image: url("../img/proiectos/dni.png");
    background-position: center;
    background-repeat: no-repeat;
}
div#dni h2{
    color: #fffff0;
    text-shadow: 1px 1px 0 #111;
}
.jsproj input{
    width: 150px;
    margin: 5px auto;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-family: "code", tahoma;
    border: 1px solid #adcc00;
}
.jsproj input#letra{
    width: 30px;
}
.jsproj input:hover{
    background-color: #fea314;
    color: #111;
}
.jsproj input[type="button"]{
    width: 100px;
    border-radius: 10px;
}
.ball {
  width: 100%;
  height: 100%;
  background-color: #030;
  position: relative;
  cursor: pointer;
}
 .ball .point {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #f00;
  border-radius: 50%;
}


/******************* CONTACT *****************/
section#contact h1{
    font-family: "roboto", tahoma;
}
section#contact{
    background-image: url("../img/bg/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section#contact div.top-rect {
    position: absolute;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    width: 120vw;
    left: -10vw;
    height: 300px;
    min-height: 100%; /*tengo que revisar esto*/
    top: 100px;
    bottom: -300px;
    overflow: hidden;
    background-color: rgba(38, 41,50, 0.9);
}
section#contact h1#fly{
    position: absolute;
    top: 50px;
    font-size: 3em;
    z-index: 150;
}
section#contact div.contactchild{
    text-align: center;
    position: relative;
    width: 100%;
    margin: 5vh auto;
    color: #fffff0;
    z-index: 1000;   
}
img#gabriel{
    border-radius: 50%;
    margin: 0 auto;
}
section#contact div#down{
    margin-top: 20vh;
}
#social h2{
    color: #fffff0;
}
#social hr{
    margin: 15px auto;
}
#social ul{
    text-align: center;
}
#social ul li{
   list-style-type: none; 
   text-align: center;
   display: inline-block;
   margin: 0 auto;/* OJO */
}
#social ul li img {
    width: 50px;
}
footer{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
footer a{
    color: #fea314;
}
#social a{
    text-decoration: none;
    color: #fffff0;
    font-family: "roboto";
}
#social a:hover{
    color: #fea314;
}
#social ul#footernav{
    position: relative;
    bottom: 10px;
}

@media screen and (min-width: 680px){ /* Not Mobile*/
    section.wrap{
    width: 100%;
    height: 100vh;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    }
    section.wrap h1{
        width: 100%;
    }
    div.cvstudychild{
    display: inline-block;
    height: 60vh;
    margin-top: 2%;
    width: 20vw;
    margin-left: 4vw;
    }   
    section#skills{
    background-repeat: no-repeat;
    }
    nav{
    padding-left: 45%; 
    padding-right: 5%;
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 0px;
    width: 100%;
    }
    section#bigwrap header ul{
    display: block;
    }
    div#main, div#slideshow{
    width: 30%;
    height: 60vh;
    margin-left: 5vw;
    margin-top: 30vh;
    float:left;
    }
    div#slideshow{
    width: 45%;
    margin: 30vh auto;
    clear: right;
    }
    div.myworkchild{
        width: 30%;
        float: left;
        margin: 0 auto;
    }
    div.myworkchild:last-child{
        clear: right;
    }
    section#contact div.top-rect{
        height: 120vh;
    }
    section#contact div.contactchild{
        display: inline-block;
        width: 30vw;
        height: 60vh;
        margin: 30vh auto;
    }
    #social ul li {
        padding: 15px;
    }
    #social{
        width: 20vw;
    }
    #social ul#footernav{
    bottom: -15px;
    }  
    section#contact div#down{
        margin-top: 30vh;
    }
    section#skills div{
        width: 33.33%;
        height: 85vh;
        margin: 5vh auto 10vh;
    }
    section#skills div img{
        width: 80%;
        height: 80%;
    } 
    section#skills div#road img{
        width: 100%;
        border-left: 4px solid #fffff0;
        border-right: 4px solid #fffff0;
    }
    div.jsproj img{
        width: 60%;
        height: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 680px){ /* Tablets */
    div.cvstudychild{
    margin-left: 3vw;
    width: 45vw;
    height: 40vh;
    } 
    nav{
        padding-left: 20%;
        padding-right: 5%;
    }
    nav ul li a{
        font-size: 1em;
    }
    div.jsproj img{
        width: 70%;
    }
}
/************* NAV **********/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
    float: left;  
    overflow: hidden;
    width: 20%;
    background-color: rgba(38, 41, 50, 0.5);
}
ul.topnav li a {
  display: inline-block;
  width: 100%;
  min-width: 100px;
  color: snow;
  font-family: "roboto", tahoma;
  font-size: 1.5em;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid snow;
  border-top: 1px solid snow;
  text-decoration: none;
  text-shadow: #adcc00 1px 1px 1px;
  transition: 0.6s;
}
ul.topnav li a:hover {
    padding: 2px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-bottom: 3px solid #adcc00;
    transition: 0.3s;
}
ul.topnav li.icon {display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    text-align: center;
    color: snow;
    padding-top: 12px;
    font-size: 24px;
  }
  ul.topnav li a,ul.topnav li a:hover{
    border: 0;
    border-right: 0px;
    padding: 16px 10px;
    margin: 0;
    font-size: 1.2em;
  }
  nav{
      background-color: rgb(38, 41, 50);}
  ul.topnav li a:hover{
    transition: 0.5s;
    color: snow;
  }

}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
    background-color: rgb(38, 41, 50);
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    width: 100%;
    min-width: 150px;
    display: block;
    font-size: 1.2em;
    text-align: left;
    padding-left: 30px;
    border: 1px solid #fffff0;
    background-color: rgb(38, 41, 50);
  }
  ul.topnav.responsive li a:hover{
    padding-left: 50px;
    color: #adcc00;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    right: 0;
    top: 0;
    border: 0 !important;
    padding-top: 15px;
  }
  ul.topnav.responsive li.icon:hover{
      padding-left: 1px;
  }
  section#mywork .proiectos{
    display: block;
    width: 80%;
  }
}
/******************** My Projects Animation ************/
section#mywork .proiectos{
    display: block;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.proiectos img{
    width: 100%;
    height: 100%;
    transition: 2s ease-in-out;
    overflow: hidden;
}
.proiectos img:hover {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.2);
    transition: 2s ease-in-out;
}
.proiectos figure{
    background-color: rgba(0, 0, 0 , 0.9);
   position:relative;
   -webkit-transition: all 1s ease;
    -moz-transition:    all 1s ease;
        -o-transition:      all 1s ease;
}
.proiectos figcaption{
    background-color: rgba(0, 0, 0 , 0.7);
    position: absolute;
    width: 100%;
    top: 0px;
    height: 0px;
    padding: 10px;
    color: #fffff0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition:    all 1s ease;
    -o-transition:      all 1s ease;
}
figure:hover figcaption{
    opacity: 1;
    height: 100%;
}
/****************** FONTS *******************/
@font-face{
    font-family: "handle";
    src: url("../fnt/handle.ttf")
}
@font-face{
    font-family: "lobster";
    src: url("../fnt/lobster.ttf")
}
@font-face{
    font-family: "lora";
    src: url("../fnt/lora.ttf")
}
@font-face{
    font-family: "roboto";
    src: url("../fnt/roboto.ttf")
}
@font-face{
    font-family: "source";
    src: url("../fnt/source.ttf")
}
/************* CONTACT FORM **************/
input, textarea {
	padding: 5px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 100%;
	height: 100px;
	max-width: 300px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
    position: relative;
    top: -20px;
	width: 100px; 
	height: 30px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}
